.git
.gitignore
.gitattributes
.mvn/
target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
mvnw
mvnw.cmd
HELP.md
.idea/
.vscode/
*.iml
*.iws
*.ipr
*.swp
*.swo
.DS_Store
Thumbs.db
